
	<div class="signin-wrapper">
		<%= form_for :session, url: login_path do |f| %>
			<div class="sessions-error-messages"></div>

			<%= f.email_field :email, class: "form-control", placeholder: "Email" %><br/>

			<%= f.password_field :password, class: "form-control", placeholder: "Password" %><br/>
			<%= f.submit "Sign In", class: "btn btn-primary btn-block" %>
		<% end %>
	</div>


