<% if @user.errors.any? %>
	<div id="error_message">
		<div class="alert alert-danger">
			<p id="alert-title">The form contains <%= pluralize(@user.errors.count, "error") %>.</p>
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li id="aler-detail"><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

