<div class="search-wrapper">
	<div class="col-sm-12">
		<div class="searchbar">
	    <%= form_tag do %>
		    <%= text_field "_search_Geocomplete", "", class: "form-control" %>
	    <% end %>
		</div>
	</div>
</div>