	<!-- CAROUSEL -->
<!-- <header id="homepageCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#homepageCarousel" data-slide-to="1" class=""></li>
		<li data-target="#homepageCarousel" data-slide-to="2" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active"> -->
			<div class="fill" id="map"></div>
	<!-- 	</div>
		<div class="item">
	    <div><%= image_tag 'cuba-vinales-hike.JPG', class: "fill" %></div>
		</div>
		<div class="item">
	    <%= image_tag 'cuba-vinales-beach.JPG', class: "fill" %>
		</div>
	</div>

</header> -->