
.display-flex {
  display: flex;
}

.or-separtor {
  color: #aaa;
  margin-top: 10px;
}

.pad-10px {
	padding: 10px;
}

a i {
	color: #99A4AE;
}

a:hover i {
	color: #51CAB7;
}

.mrg-lr-auto {
	margin-left: auto;
	margin-right: auto;
}