
.display-flex {
  display: flex;
}

.or-separtor {
  color: #aaa;
  margin-top: 10px;
}

.pad-10px {
	padding: 10px;
}

.debug {
	border: 1px black;
}

.mrg-bot-0 {
	margin-bottom: 0;
}

.pad-top-50px {
	padding-top: 50px;
}

.leaflet-popup-content {
	text-transform: capitalize;
}

.popup-style span {
	color: rgba(0,0,0,.75) !important;
	font-size: 12px !important;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif
 !important;
 text-transform: none !important;
}

