/*// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
.social-media {
  display: flex;
  list-style: none;
  width: 100%;
  position: relative;
}

.social-media li {
    text-align: center;
    padding: 10px;
}


.profile-three-fourth-right {
  float: left;   
  padding-right: 10px;   
  padding-left: 10px;
  width: 75%;
}

.dialog-login {
  padding-left: 50px;
  padding-right: 50px;
}